body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #B8D5B8;
}

.row {
  display: flex;
  flex: 0 0 20%;
}

.square{
    display: inline-flex;
    background-color: #D7B49E;
    height: 70px;
    width: 70px;
    // max-width: 75px;
    // max-width: 15vw;
    // max-height: 15vw;
    border: 1px black solid;
    // margin: 1rem;
    // padding: 1rem;

    p {
      text-align: center;
      margin: auto;
      font-size: 10pt;
    }
}

.square-hov:hover {
  background-color: #bc412b;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clicked {
  background: #05a8aa;
}

.winner-square {
  background: 
  linear-gradient(45deg, #05a8aa, #d7b49e);
  &:hover {
    background-color: linear-gradient(75deg, pink, skyblue);
  }
}

#container {
  display: flex;
}

#range-button {
  display: block;
}
#go-button {
  display: block;
  margin-top: 16px;
}

.menu-box {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  align-items: center;
}

#range-circle h4 {
  margin: 0; 
}

#range-by-state {
  height: 150px;
  width: 150px;
  // border-left: 2px solid black;
  // border-right: 2px solid black;
  // border-top: 2px solid black;
  border: 2px solid black;
  border-radius: 50% / 100% 100% 0 0;;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #bc412b;
}

#range-by-state-select {
  align-self: center;
  text-align: center;
}

#range-by-state-select select {
  margin-bottom: 2rem;
  margin-top: .25rem;
  width: 4rem;
}

#range-all-birds {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  border: 2px black solid;
  border-radius: 50% / 0 0 100% 100%;
  background-color: #bc412b;
  justify-content: flex-start;
}

#range-all-birds:hover {
  cursor: pointer;
}

#range-by-state:hover {
  cursor: pointer;
}

#range-all-birds h4 {
  width: 4rem;
  text-align: center;
  align-self: center;
  margin-top: 2rem;
}

.menu-box .menu button {
  margin: 0 1rem 0 1rem;
}

.selected {
  opacity: 1;
}

.not-selected {
  opacity: .3;
}

.animation {
  margin: auto;
  height: 40px;
  width: 40px;
}

.sign-in {
  margin: auto;
}